body{ 
  position: absolute;
  zoom: 106%;
  overflow-x: hidden;
  margin-left: -10px;
  margin-right: 100px;
  margin-top: -10px;
  margin-bottom: -40px;
  scroll-behavior: smooth;
  z-index: 2;
  gap:1rem;
}

a { 
  color: inherit; 
  text-decoration: none;
} 


.hero-stack .container {
  position: relative;
  width: 1440px;
  height: 918px;
}

.hero-stack .overlap {
  position: absolute;
  width: 1440px;
  height: 830px;
  top: 88px;
  left: 0;
  background-color: #ffffff;
}

.hero-stack .overlap-group {
  position: absolute;
  width: 926px;
  height: 626px;
  top: 80px;
  left: 301px;
}

.hero-stack .header {
  position: absolute;
  width: 926px;
  height: 609px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.hero-stack .contents {
  position: relative;
  width: 926px;
  height: 609px;
}

.hero-stack .div {
  position: absolute;
  width: 926px;
  height: 496px;
  top: 0;
  left: 0;
}

.hero-stack .information {
  position: absolute;
  width: 177px;
  height: 113px;
  top: 0;
  left: 749px;
}

.hero-stack .man-indicator {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.hero-stack .man-wrapper {
  position: relative;
  width: 177.14px;
  height: 113.14px;
}

.hero-stack .man {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 9px;
  left: -4px;
}

.hero-stack .heading {
  position: absolute;
  width: 902px;
  height: 416px;
  top: 80px;
  left: 0;
}

.hero-stack .overlap-group-2 {
  position: relative;
  width: 900px;
  height: 416px;
}

.hero-stack .box {
  position: absolute;
  width: 475px;
  height: 156px;
  top: 103px;
  left: px;
  background-color: var(--light-gold);
  border-radius: 26px;
  transform: rotate(176.34deg);
}

.hero-stack #we {
  color: #f2f4f3;
  opacity: 0%;
}

.hero-stack .we-make-musical {
  position: absolute;
  width: 900px;
  top: 0;
  left: 0;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 108px;
  text-align: center;
  letter-spacing: 0;
  line-height: 136.1px;
  
}

.hero-stack .text-wrapper {
  color: #313131;
}
.hero-stack .text-wrapper-3{
  background-color: var(--light-gold);
  border-radius: 10px;
}

.hero-stack .text-wrapper-4{
  background-color: var(--light-gold);
  border-radius: 10px;
}

.hero-stack .span {
  color: #f2f4f3;
}

.hero-stack .button {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: absolute;
  top: 553px;
  left: 177px;
  background-color: var(--light-gold);
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.hero-stack .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1px;
  margin-bottom: -1px;
}

.hero-stack .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.hero-stack .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: absolute;
  top: 554px;
  left: 517px;
  background-color: var(--light-gold);
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.hero-stack .text-wrapper-3 {
  top: 608px;
  left: 517px;
  position: absolute;
  width: 210px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.hero-stack .text-wrapper-4 {
  top: 689px;
  left: 478px;
  position: absolute;
  width: 210px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.hero-stack .top-ber-menu {
  position: absolute;
  width: 1440px;
  height: 88px;
  top: 0;
  left: 0;
}

.hero-stack .menu-wrapper {
  height: 80px;
  background-image: url(./img/header-BG.svg);
  background-size: 100% 100%;
  background-color: var(--brown);
}

.hero-stack .menu {
  position: relative;
  width: 1352px;
  height: 39px;
  top: 23px;
  left: 56px;
}

.hero-stack .icons {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  left: 1326px;
}

.hero-stack .round {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 33px;
  left: 437px;
  background-color: var(--dark-gold);
  border-radius: 3px;
}

.hero-stack .logo {
  display: flex;
  width: 108px;
  height: 36px;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-stack .text-wrapper-5 {
  position: relative;
  width: 174px;
  height: 36px;
  margin-top: -1px;
  margin-right: -66px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 32px;
  letter-spacing: 0;
  line-height: 41.6px;
  white-space: nowrap;
}

.hero-stack .home-about {
  position: absolute;
  width: 550px;
  top: 9px;
  left: 492px;
  font-family: "Lexend Deca-Medium", Helvetica;
  font-weight: 500;
  color: var(--lighter);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.shaping-the-perfect .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  width: 1305px;
  height: 857px;
}

.shaping-the-perfect .overlap {
  position: relative;
  width: 1170px;
  height: 857px;
  background-color: var(--brown);
  border-radius: 26px;
  background-image: url("../Website/img/photo\ de\ fou.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shaping-the-perfect .contents {
  position: absolute;
  width: 1170px;
  height: 572px;
  top: 185px;
  left: 0;
  backdrop-filter: brightness(50%);
  backdrop-filter: blur(5px);
}

.shaping-the-perfect .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.shaping-the-perfect .texts {
  position: absolute;
  width: 654px;
  height: 460px;
  top: 26px;
  left: 262px;
  filter: url(#threshold) blur(0.6px);
}

.shaping-the-perfect .div {
  position: absolute;
  width: 648px;
  top: 0;
  left: 0;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--light-gold);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76.8px;
  white-space: nowrap;
  text-align: center;
}

.shaping-the-perfect .text-wrapper-2 {
  position: absolute;
  width: 562px;
  top: 187px;
  left: 43px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--light-gold);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76.8px;
  white-space: nowrap;
}

.shaping-the-perfect .text-wrapper-3 {
  position: absolute;
  width: 372px;
  top: 380px;
  left: 233px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--light-gold);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76.8px;
  white-space: nowrap;
}

.shaping-the-perfect .vector {
  position: absolute;
  width: 988px;
  height: 461px;
  top: 215px;
  left: 85px;
}
.our-expertise {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.our-expertise .container {
  position: relative;
  width: 1440px;
  height: 1016px;
  background-color: var(--lighter);
}

.our-expertise .contents {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  top: 100px;
  left: 135px;
}

.our-expertise .heading {
  position: relative;
  width: 378px;
  height: 149px;
}

.our-expertise .overlap-group {
  position: relative;
  height: 149px;
}

.our-expertise .box {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 4px;
}

.our-expertise .heading-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 6px;
  left: 40px;
}

.our-expertise .div {
  position: relative;
  width: 338px;
  height: 63px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 62.4px;
  white-space: nowrap;
}

.our-expertise .text-wrapper {
  color: #f2f4f3;
}

.our-expertise .span {
  color: #313131;
}

.our-expertise .p {
  position: relative;
  width: 334px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
}

.our-expertise .line {
  position: relative;
  width: 82px;
  height: 2px;
  margin-bottom: -1px;
}

.our-expertise .contents-2 {
  position: relative;
  width: 1185px;
  height: 617.78px;
}

.our-expertise .UI-UX-design {
  position: absolute;
  width: 390px;
  height: 618px;
  top: 0;
  left: 0;
}

.our-expertise .overlap {
  position: relative;
  height: 618px;
}

.our-expertise .content-wrapper {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 309px;
  left: 0;
  background-color: var(--lighter);
}

.our-expertise .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  top: 58px;
  left: 105px;
}

.our-expertise .text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.our-expertise .text-wrapper-2 {
  position: relative;
  width: 154px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .text-wrapper-3 {
  position: relative;
  width: 181px;
  height: 100px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
}

.our-expertise .read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.our-expertise .round {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--dark-gold);
  border-radius: 3px;
}

.our-expertise .text-wrapper-4 {
  position: relative;
  width: 77px;
  height: 24px;
  margin-top: -1px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.our-expertise .element-UI-UX-design {
  position: absolute;
  width: 390px;
  height: 332px;
  top: 0;
  left: 0;
}

.our-expertise .overlap-group-wrapper {
  height: 332px;
}

.our-expertise .overlap-group-2 {
  position: relative;
  width: 390px;
  height: 332px;
}

.our-expertise .box-2 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 12px 0px 0px 0px;
}

.our-expertise .indicator {
  position: absolute;
  width: 43px;
  height: 24px;
  top: 309px;
  left: 174px;
}

.our-expertise .image {
  width: 230px;
  height: 230px;
  top: 43px;
  left: 80px;
  position: absolute;
  object-fit: cover;
}

.our-expertise .product-design {
  position: absolute;
  width: 390px;
  height: 618px;
  top: 0;
  left: 390px;
}

.our-expertise .div-wrapper {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--lighter);
}

.our-expertise .text-wrapper-5 {
  position: relative;
  width: 200px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .round-2 {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--light-gold);
  border-radius: 3px;
}

.our-expertise .element-product-design {
  position: absolute;
  width: 390px;
  height: 331px;
  top: 287px;
  left: 0;
}

.our-expertise .box-3 {
  height: 331px;
}

.our-expertise .overlap-group-3 {
  position: relative;
  width: 390px;
  height: 331px;
}

.our-expertise .box-4 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 22px;
  left: 0;
  background-color: var(--light-gold);
}

.our-expertise .img {
  position: absolute;
  width: 43px;
  height: 24px;
  top: 0;
  left: 173px;
}

.our-expertise .image-2 {
  width: 232px;
  height: 232px;
  top: 72px;
  left: 73px;
  position: absolute;
  object-fit: cover;
}

.our-expertise .creative-marketing {
  position: absolute;
  width: 405px;
  height: 618px;
  top: 0;
  left: 780px;
}

.our-expertise .text-wrapper-6 {
  position: relative;
  width: 210px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .element-marketing-image {
  position: absolute;
  width: 390px;
  height: 332px;
  top: 0;
  left: 15px;
}

.our-expertise .box-5 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 0px 12px 0px 0px;
}

.our-expertise .image-3 {
  width: 227px;
  height: 227px;
  top: 43px;
  left: 81px;
  position: absolute;
  object-fit: cover;
}
.footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.footer .container {
  position: relative;
  width: 1440px;
  height: 100px;
}

.footer .overlap-group {
  border-radius: 26px 26px 0px 0px;
  position: relative;
}

.footer .div {
  height: 43px;
  background-color: var(--lighter);
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
}

.footer .BG-2 {
  background-color: var(--brown);
  border-radius: 26px 26px 0px 0px;
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
}

.footer .logo-and-page-links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 422px;
  left: 135px;
}

.footer .line {
  position: relative;
  width: 1170px;
  height: 1px;
  margin-top: -0.25px;
}

.footer .logo-and-manu {
  position: relative;
  width: 1172px;
  height: 50.06px;
  margin-right: -2px;
}

.footer .home-about-contact {
  position: absolute;
  width: 252px;
  top: 13px;
  left: 218px;
  font-family: "Lexend Deca-Medium", Helvetica;
  font-weight: 500;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.footer .contents {
  display: inline-flex;
  align-items: flex-start;
  gap: 85px;
  position: absolute;
  top: 114px;
  left: 135px;
}


.footer .social-media-logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  top: 222px;
  left: 0;
}

.footer .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.footer .div-3 {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--dark-gold);
  border-radius: 19px;
}

.footer .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
}

.footer .text {
  gap: 24px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper {
  position: relative;
  width: 93px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .line-2 {
  position: relative;
  width: 47px;
  height: 2px;
  margin-bottom: -1px;
}

.footer .quick-links {
  position: relative;
  width: 122px;
  height: 241px;
}

.footer .text-2 {
  gap: 16px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper-2 {
  position: relative;
  width: 122px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .line-3 {
  position: relative;
  width: 47px;
  height: 2px;
}

.footer .about-company-latest {
  position: relative;
  width: 115px;
  height: 180px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 37.2px;
}

.footer .newsletter {
  position: relative;
  width: 297px;
  height: 190px;
}
.footer .newsletter.text-wrapper-4{
  background-color: var(--light-gold);
}


.footer .sign-up {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 134px;
  left: 0;
}

.footer .sign-up-2 {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.footer .message {
  position: relative;
  width: 149px;
  height: 36px;
}

.footer .text-wrapper-3 {
  position: absolute;
  width: 147px;
  top: 0;
  left: 0;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 37.2px;
  white-space: nowrap;
}

.footer .button {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  background-color: var(--light-gold);
  border-radius: 5px;
  all: unset;
  box-sizing: border-box;
}

.footer .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9px;
  margin-bottom: -9px;
  margin-left: -1.5px;
  margin-right: -1.5px;
}

.footer .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.footer .line-4 {
  position: relative;
  width: 297px;
  height: 1px;
  margin-bottom: -0.8px;
}

.footer .text-3 {
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper-5 {
  position: relative;
  width: 108px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .p {
  position: relative;
  width: 235px;
  height: 49px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 23.8px;
}
.our-expertise {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.our-expertise .container {
  position: relative;
  width: 1440px;
  height: 1016px;
  background-color: var(--lighter);
}

.our-expertise .contents {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  top: 100px;
  left: 135px;
}

.our-expertise .heading {
  position: relative;
  width: 378px;
  height: 149px;
}

.our-expertise .overlap-group {
  position: relative;
  height: 149px;
}

.our-expertise .box {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 4px;
}

.our-expertise .heading-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 6px;
  left: 40px;
}

.our-expertise .div {
  position: relative;
  width: 338px;
  height: 63px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 62.4px;
  white-space: nowrap;
}

.our-expertise .text-wrapper {
  color: #f2f4f3;
}

.our-expertise .span {
  color: #313131;
}

.our-expertise .p {
  position: relative;
  width: 334px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
}

.our-expertise .line {
  position: relative;
  width: 82px;
  height: 2px;
  margin-bottom: -1px;
}

.our-expertise .contents-2 {
  position: relative;
  width: 1185px;
  height: 617.78px;
}

.our-expertise .UI-UX-design {
  position: absolute;
  width: 390px;
  height: 618px;
  top: 0;
  left: 0;
}

.our-expertise .overlap {
  position: relative;
  height: 618px;
}

.our-expertise .content-wrapper {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 309px;
  left: 0;
  background-color: var(--lighter);
}

.our-expertise .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  top: 58px;
  left: 105px;
}

.our-expertise .text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.our-expertise .text-wrapper-2 {
  position: relative;
  width: 154px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .text-wrapper-3 {
  position: relative;
  width: 181px;
  height: 100px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
}

.our-expertise .read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.our-expertise .round {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--dark-gold);
  border-radius: 3px;
}

.our-expertise .text-wrapper-4 {
  position: relative;
  width: 77px;
  height: 24px;
  margin-top: -1px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.our-expertise .element-UI-UX-design {
  position: absolute;
  width: 390px;
  height: 332px;
  top: 0;
  left: 0;
}

.our-expertise .overlap-group-wrapper {
  height: 332px;
}

.our-expertise .overlap-group-2 {
  position: relative;
  width: 390px;
  height: 332px;
}

.our-expertise .box-2 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 12px 0px 0px 0px;
}

.our-expertise .indicator {
  position: absolute;
  width: 43px;
  height: 24px;
  top: 309px;
  left: 174px;
}

.our-expertise .image {
  width: 230px;
  height: 230px;
  top: 43px;
  left: 80px;
  position: absolute;
  object-fit: cover;
}

.our-expertise .product-design {
  position: absolute;
  width: 390px;
  height: 618px;
  top: 0;
  left: 390px;
}

.our-expertise .div-wrapper {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--lighter);
}

.our-expertise .text-wrapper-5 {
  position: relative;
  width: 200px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .round-2 {
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--light-gold);
  border-radius: 3px;
}

.our-expertise .element-product-design {
  position: absolute;
  width: 390px;
  height: 331px;
  top: 287px;
  left: 0;
}

.our-expertise .box-3 {
  height: 331px;
}

.our-expertise .overlap-group-3 {
  position: relative;
  width: 390px;
  height: 331px;
}

.our-expertise .box-4 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 22px;
  left: 0;
  background-color: var(--light-gold);
}

.our-expertise .img {
  position: absolute;
  width: 43px;
  height: 24px;
  top: 0;
  left: 173px;
}

.our-expertise .image-2 {
  width: 232px;
  height: 232px;
  top: 72px;
  left: 73px;
  position: absolute;
  object-fit: cover;
}

.our-expertise .creative-marketing {
  position: absolute;
  width: 405px;
  height: 618px;
  top: 0;
  left: 780px;
}

.our-expertise .text-wrapper-6 {
  position: relative;
  width: 210px;
  height: 28px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.our-expertise .element-marketing-image {
  position: absolute;
  width: 390px;
  height: 332px;
  top: 0;
  left: 15px;
}

.our-expertise .box-5 {
  position: absolute;
  width: 390px;
  height: 309px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 0px 12px 0px 0px;
}

.our-expertise .image-3 {
  width: 227px;
  height: 227px;
  top: 43px;
  left: 81px;
  position: absolute;
  object-fit: cover;
}
.our-experts {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.our-experts .container {
  position: relative;
  width: 1440px;
  height: 962px;
  background-color: var(--lighter);
}

.our-experts .contents {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  top: 100px;
  left: 135px;
}

.our-experts .heading {
  position: relative;
  width: 334px;
  height: 148px;
}

.our-experts .overlap-group {
  position: relative;
  height: 148px;
}

.our-experts .box {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 0;
  left: 0;
  background-color: var(--light-gold);
  border-radius: 4px;
}

.our-experts .heading-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 6px;
  left: 40px;
}

.our-experts .div {
  position: relative;
  width: 294px;
  height: 63px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 62.4px;
  white-space: nowrap;
}

.our-experts .text-wrapper {
  color: #f2f4f3;
}

.our-experts .span {
  color: #313131;
}

.our-experts .our-young-team-has {
  position: relative;
  width: 258px;
  height: 47px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 23.8px;
}

.our-experts .line {
  position: relative;
  width: 82px;
  height: 2px;
  margin-bottom: -1px;
}

.our-experts .team-members {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.our-experts .element {
  position: relative;
  width: 370px;
  height: 566px;
}

.our-experts .overlap {
  position: relative;
  height: 566px;
}

.our-experts .overlap-2 {
  position: absolute;
  width: 370px;
  height: 507px;
  top: 0;
  left: 0;
}

.our-experts .image {
  position: absolute;
  width: 370px;
  height: 482px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.our-experts .more-icon {
  position: absolute;
  width: 52px;
  height: 50px;
  top: 457px;
  left: 286px;
}

.our-experts .div-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--light-gold);
  border-radius: 6px;
}

.our-experts .text-wrapper-2 {
  position: absolute;
  width: 14px;
  top: 3px;
  left: 18px;
  font-family: "Lexend Deca-Medium", Helvetica;
  font-weight: 500;
  color: var(--dark);
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.4px;
}

.our-experts .name-and-designation {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  top: 498px;
  left: 0;
}

.our-experts .text-wrapper-3 {
  position: relative;
  width: 250px;
  height: 37px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark);
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36.4px;
  white-space: nowrap;
}

.our-experts .text-wrapper-4 {
  position: relative;
  width: 98px;
  height: 25px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.our-experts .overlap-wrapper {
  position: relative;
  width: 364px;
  height: 551px;
}

.our-experts .overlap-3 {
  position: relative;
  width: 366px;
  height: 551px;
}

.our-experts .overlap-4 {
  position: absolute;
  width: 366px;
  height: 492px;
  top: 0;
  left: 0;
}

.our-experts .img {
  position: absolute;
  width: 346px;
  height: 467px;
  top: 0;
  left: 0;
}

.our-experts .overlap-group-wrapper {
  position: absolute;
  width: 52px;
  height: 50px;
  top: 442px;
  left: 314px;
}

.our-experts .name-and-designation-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  top: 483px;
  left: 28px;
}

.our-experts .text-wrapper-5 {
  position: relative;
  width: 193px;
  height: 37px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark);
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36.4px;
  white-space: nowrap;
}

.our-experts .text-wrapper-6 {
  position: relative;
  width: 216px;
  height: 37px;
  margin-top: -1px;
  font-family: "Lexend Deca-Bold", Helvetica;
  font-weight: 700;
  color: var(--dark);
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36.4px;
  white-space: nowrap;
}
.footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.footer .container {
  position: relative;
  width: 1440px;
  height: 521px;
}

.footer .overlap {
  position: relative;
  height: 521px;
}

.footer .BG {
  height: 521px;
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
}

.footer .overlap-group {
  border-radius: 26px 26px 0px 0px;
  position: relative;
  height: 521px;
}

.footer .div {
  height: 43px;
  background-color: var(--lighter);
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
}

.footer .BG-2 {
  height: 521px;
  background-color: var(--brown);
  border-radius: 26px 26px 0px 0px;
  position: absolute;
  width: 1440px;
  top: 0;
  left: 0;
}

.footer .logo-and-page-links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 422px;
  left: 135px;
}

.footer .line {
  position: relative;
  width: 1170px;
  height: 1px;
  margin-top: -0.25px;
}

.footer .logo-and-manu {
  position: relative;
  width: 1172px;
  height: 50.06px;
  margin-right: -2px;
}

.footer .home-about-contact {
  position: absolute;
  width: 252px;
  top: 13px;
  left: 918px;
  font-family: "Lexend Deca-Medium", Helvetica;
  font-weight: 500;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.footer .contents {
  display: inline-flex;
  align-items: flex-start;
  gap: 85px;
  position: absolute;
  top: 114px;
  left: 135px;
}

.footer .about-us {
  position: relative;
  width: 170px;
  height: 260px;
}

.footer .social-media-logo {
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  position: absolute;
  top: 222px;
  left: 0;
}

.footer .div-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.footer .div-3 {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--dark-gold);
  border-radius: 19px;
}

.footer .img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 9px;
}

.footer .text {
  gap: 24px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper {
  position: relative;
  width: 93px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .line-2 {
  position: relative;
  width: 47px;
  height: 2px;
  margin-bottom: -1px;
}

.footer .quick-links {
  position: relative;
  width: 122px;
  height: 241px;
}

.footer .text-2 {
  gap: 16px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper-2 {
  position: relative;
  width: 122px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .line-3 {
  position: relative;
  width: 47px;
  height: 2px;
}

.footer .about-company-latest {
  position: relative;
  width: 115px;
  height: 180px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 37.2px;
}

.footer .newsletter {
  position: relative;
  width: 297px;
  height: 190px;
}
.footer .newsletter

.footer .sign-up {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 134px;
  left: 0;
}

.footer .sign-up-2 {
  display: inline-flex;
  align-items: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.footer .message {
  position: relative;
  width: 149px;
  height: 36px;
}

.footer .text-wrapper-3 {
  position: absolute;
  width: 147px;
  top: 0;
  left: 0;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 37.2px;
  white-space: nowrap;
}

.footer .button {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
  background-color: var(--light-gold);
  border-radius: 5px;
  all: unset;
  box-sizing: border-box;
}

.footer .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9px;
  margin-bottom: -9px;
  margin-left: -1.5px;
  margin-right: -1.5px;
}

.footer .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.footer .line-4 {
  position: relative;
  width: 297px;
  height: 1px;
  margin-bottom: -0.8px;
}

.footer .text-3 {
  gap: 16px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .text-wrapper-5 {
  position: relative;
  width: 108px;
  height: 29px;
  margin-top: -1px;
  font-family: "Lexend Deca-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--lighter);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.footer .p {
  position: relative;
  width: 235px;
  height: 49px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 23.8px;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--lighter);
  border-radius: 50%;
  animation: trail 3s ;
}

@keyframes trail {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.shaping-the-perfect .div,
.shaping-the-perfect .text-wrapper-2,
.shaping-the-perfect .text-wrapper-3 {
  animation: moveText 2s infinite ease-in-out; 
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

#wee { position: absolute;
  color: hsl(150, 8%, 95%);
  right: 417px;;
  animation: moveTextt 3s infinite; 
  width: 500px;
}

@keyframes moveTextt {
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(2deg);
  }
  50% {
    transform:rotate(0deg);
  }
  75% {
    transform:rotate(-2deg);
  }
  100% {
    transform:rotate(0deg);
  }
}

#wee { position: absolute;
  color: hsl(150, 8%, 95%);
  right: 417px;;
  animation: moveTextt 3s infinite; 
  width: 500px;
}

@keyframes moveTextt {
  0% {
    transform:rotate(0deg);
  }
  25% {
    transform:rotate(2deg);
  }
  50% {
    transform:rotate(0deg);
  }
  75% {
    transform:rotate(-2deg);
  }
  100% {
    transform:rotate(0deg);
  }
}
.hero-stack .home-about ,
.hero-stack .sound-giver ,
.hero-stack .sound-cruiter ,
.hero-stack .profile {
  transition: transform 0.3s ease-in-out;
}

.hero-stack .home-about:hover ,
.hero-stack .sound-giver:hover ,
.hero-stack .sound-cruiter:hover ,
.hero-stack .profile:hover {
  transform: scale(1.1);
}
