:root {
    --lighter: rgba(242, 244, 243, 1);
    --brown: rgba(85, 48, 38, 1);
    --dark: rgba(49, 49, 49, 1);
    --light-gold: rgba(221, 195, 137, 1);
    --dark-gold: rgba(138, 111, 56, 1);
  }
