body { 
    margin: 0;
    overflow: hidden;
}

.thumbnail {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .thumbnail .content-wrapper {
    background-color: rgba(255, 255, 255, 1);
    background: #F2F4F3;
    background: radial-gradient(
        at right bottom,
         rgba(221, 195, 137, 1) 0%,
         rgba(85, 48, 38, 1)) 50%,
         rgba(85, 48, 38, 1) 100%;
    width: 1600px;
    height: 960px;
  }
  
  .thumbnail .content {
    position: relative;
    width: 886px;
    height: 318px;
    top: 265px;
    left: 60px;
  }
  
  .thumbnail .overlap-group {
    position: absolute;
    width: 891px;
    height: 173px;
    top: -4px;
    left: -4px;
    background-color: var(--lighter);
    border-radius: 18.05px;
    border: 9px solid;
    border-color: var(--brown);
    box-shadow: 7px 11px 26px #0000002b;
  }
  
  .thumbnail .jamsal-n {
    position: absolute;
    width: 841px;
    top: 4px;
    left: 20px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--brown);
    font-size: 96px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .thumbnail .find-band-member {
    position: absolute;
    width: 542px;
    top: 215px;
    left: 24px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--lighter);
    font-size: 38.5px;
    letter-spacing: 0;
    line-height: 51.1px;
  }

  canvas{
    position: absolute;
  }
  
